body
{
    margin:0px;
    color:white;
    font-family:'Trebuchet MS', Trebuchet, Verdana, sans-serif;
}

.headerContent
{
    background-color:#333333;
    width: 980px;
    margin-right: auto;
    margin-left: auto;
    overflow:auto;
}

#headerBackground
{
    min-width:1000px;
    background-color:#333333
}

#logo
{
    font-size:x-large;
}

#content
{
    background-color: #EFEEEE;
    color: black;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    min-height: 2000px;
    padding-top:40px;
}

main#title div {
  margin-bottom: 40px;
}

hr#headerRule
{
    background-color: #5C5C5C;
    height: 1px;
    border: 0px;
    margin:0px;
}

hr#bottomRule
{
    background-color: #DCDBDB;
    height: 1px;
    border: 0px;
    margin: 0px;
    width: 550px;
    margin: 0 auto;
}

ul
{
    display:block;
    margin:0px;
   
   
}

#headerNavRight
{
    float:right;
    list-style:none
}

span#MenuList
{
  color: #00AEEF;
  float:right;
  font-weight:bold;
}

span#MenuList span
{
    margin-left:50px;
}

li
{
    display:list-item;
    float:right;
    padding:7px;
    border:solid;
    border-color:#5C5C5C;
    border-width: 1px;
    border-top-width:0px;
    border-bottom-width:0px;

}

