body
{
    margin:0px;
    color:white;
    font-family:'Trebuchet MS', Trebuchet, Verdana, sans-serif;
}

main
{
   margin: auto;
   display: table;
}

header
{
    font-size:larger;
}

.headerContent
{
    background-color:#333333;
    width: 980px;
    margin-right: auto;
    margin-left: auto;
    overflow:auto;
}

#headerBackground
{
    min-width:1000px;
    background-color:#333333
}

#logo
{
    font-size:x-large;
}

#content
{
    background-color: #EFEEEE;
    color: black;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    min-height: 2000px;
    padding-top:40px;
    padding-left:60px;
}

div.headerText {
  text-align: center;
}

main.title > div {
  margin-bottom: 40px;
}

hr#headerRule
{
    background-color: #5C5C5C;
    height: 1px;
    border: 0px;
    margin:0px;
}

hr#bottomRule
{
    background-color: #DCDBDB;
    height: 1px;
    border: 0px;
    margin: 0px;
    width: 550px;
    margin: 0 auto;
}

ul
{
    display:block;
    margin:0px;
   
   
}

#headerNavRight
{
    float:right;
    list-style:none
}

span#MenuList
{
  color: #00AEEF;
  float:right;
  font-weight:bold;
}

span#MenuList span
{
    margin-left:50px;
}

li
{
    display:list-item;
    float:right;
    padding:7px;
    border:solid;
    border-color:#5C5C5C;
    border-width: 1px;
    border-top-width:0px;
    border-bottom-width:0px;

}

#featureSnippet
{
  background-color: #00AEEF;
  color: white;
  padding: 7px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top:20px;
  width:100px;
}

div.otherArticle > div.title, div.summary
{
    max-width:350px;
    margin-top:20px;
    margin-bottom: 20px;
}

#featureImageLeft
{
     float:left;
}

#featureImageLeft img
{
    width: 378px;
    height: 261px;
    padding-top: 40px;
}

#featureRight
{
    float: left;
    padding-top: 47px;
    padding-left: 50px;
    position:relative;
}

#readFeatureArticle
{
  background-color: white;
  color: #00AEEF;
  padding: 12px;
  padding-right: 15px;
  padding-left: 15px;
  BORDER-COLOR: #DCDBDB;
  BORDER-STYLE: solid;
  BORDER-WIDTH: 1px;
}

div#bottomArticleSummary img
{
    width: 330px;
    height: 170px;
    padding-top: 47px;
    padding-right: 20px;
}